In [159]:
import numpy as np
import pandas as pd
df=pd.read_csv("pima-indians-diabetes.csv")

In [160]:
df

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_preb,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,True
1,1,85,66,29,0,26.6,0.351,31,False
2,8,183,64,0,0,23.3,0.672,32,True
3,1,89,66,23,94,28.1,0.167,21,False
4,0,137,40,35,168,43.1,2.288,33,True
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,False
764,2,122,70,27,0,36.8,0.340,27,False
765,5,121,72,23,112,26.2,0.245,30,False
766,1,126,60,0,0,30.1,0.349,47,True
767,1,93,70,31,0,30.4,0.315,23,False

In [161]:
df.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_preb,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,True
1,1,85,66,29,0,26.6,0.351,31,False
2,8,183,64,0,0,23.3,0.672,32,True
3,1,89,66,23,94,28.1,0.167,21,False
4,0,137,40,35,168,43.1,2.288,33,True

In [162]:
df.isnull()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_preb,age,diabetes
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [163]:
dfmap={True: 1,False: 0}
df['diabetes']=df['diabetes'].map(dfmap)
df.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_preb,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [164]:
from sklearn.model_selection import train_test_split as tts

In [165]:
x=df.iloc[:,:-1]
y=df.iloc[:,1]

In [166]:
xtr,xte,ytr,yte=tts(x,y,test_size=0.1)

In [167]:
for i in ['num_preg','glucose_conc','diastolic_bp','thickness','insulin','bmi','diab_preb','age']:
    print('no. of rows missing in {0}: {1}'.format(i,len(df.loc[df[i]==0])))

no. of rows missing in num_preg: 111
no. of rows missing in glucose_conc: 5
no. of rows missing in diastolic_bp: 35
no. of rows missing in thickness: 227
no. of rows missing in insulin: 374
no. of rows missing in bmi: 11
no. of rows missing in diab_preb: 0
no. of rows missing in age: 0

In [168]:
from sklearn.preprocessing import Imputer
fill=Imputer(missing_values=0,strategy="mean",axis=0)
xtr=fill.fit_transform(xtr)
xte=fill.fit_transform(xte)

D:\ANACONDA\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [169]:
from sklearn.ensemble import RandomForestClassifier
rfm = RandomForestClassifier(random_state=10)

rfm.fit(xtr, ytr.ravel())

D:\ANACONDA\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [172]:
predict_train_data = rfm.predict(xte)

from sklearn import metrics

In [173]:
print("Accuracy =",(metrics.accuracy_score(yte, predict_train_data)))

Accuracy = 0.2727272727272727